<div class="center-pane" [ngClass]="{'center-pane-no-text' : selectedPage==1 && currentItem && currentItem.itemType != 'STAT'}">
    <div class="center-nav" *ngIf="currentItem && currentItem.id >= 0 && currentItem.itemType != 'STAT'">
        <img class="center-nav-item" src="/assets/images/icons/mini-icons/setting004.png" [ngClass]="{'center-nav-selected' : selectedPage==0}" (click)="onPageTurn(0)">
        <img class="center-nav-item" src="/assets/images/icons/mini-icons/setting005.png" [ngClass]="{'center-nav-selected' : selectedPage==1}" (click)="onPageTurn(1)">
        <img class="center-nav-item" src="/assets/images/icons/mini-icons/setting006.png" [ngClass]="{'center-nav-selected' : selectedPage==2}" (click)="onPageTurn(2)">
    </div>
    <!-- ITEMS -->
    <div *ngIf="currentItem && currentItem.id >= 0 && currentItem.itemType != 'STAT' && selectedPage==0">
        <h3>{{currentItem.name}}</h3>
        <img class="equip-btn" src="/assets/images/menu/MENU_ItemParts_mark1.png" *ngIf="getItemQuantity() && isEquipped()" (click)="onUnequip()">
        <img class="equip-btn" src="/assets/images/menu/MENU_ItemParts_mark3.png" *ngIf="getItemQuantity() && !isEquipped()" (click)="onEquip()">
        <div class="item-buttons">
            <img class="quantity-btn" src="/assets/images/menu/MENU_ItemParts_up.png" (click)="onQuantityChange(1)">
            <p>{{getItemQuantity()}}</p>
            <img class="quantity-btn" src="/assets/images/menu/MENU_ItemParts_down.png" (click)="onQuantityChange(-1)">
        </div>
        <div class="center-item">
            <img src="{{currentItem.icon}}">
        </div>
        <p class="center-item-description">{{currentItem.description}}</p>
    </div>
    <!-- COMBAT STATUS -->
    <div *ngIf="character && currentItem && currentItem.id >= 0 && currentItem.itemType != 'STAT' && selectedPage==1" class="combat-page">
        <h3>Combat: {{currentItem.name}}</h3>
        <div class="center-item-mini">
            <img src="{{currentItem.icon}}">
        </div>
        <div class="status-bars">
            <h5>HP: 
                <input class="stat-input" [(ngModel)]="character.hp.current" placeholder="1" autocomplete="off" maxlength="3">
                / {{character.getTotal('hp')}}
            </h5>
            <div class="status-bar">
                <img src="/assets/images/hud/MENU_PlayerHUD_barhp.png" [style.width.%]="character.getBarPercent('hp')">
            </div>
            <h5>AP: 
                <input class="stat-input" [(ngModel)]="character.ap.current" placeholder="1" autocomplete="off" maxlength="3">
                / {{character.getTotal('ap')}}
            </h5>
            <div class="status-bar">
                <img src="/assets/images/hud/MENU_PlayerHUD_barap.png" [style.width.%]="character.getBarPercent('ap')">
            </div>
            <h5>FP: 
                <input class="stat-input" [(ngModel)]="character.fp.current" placeholder="1" autocomplete="off" maxlength="3">
                / {{character.getTotal('fp')}}
            </h5>
            <div class="status-bar">
                <img src="/assets/images/hud/MENU_PlayerHUD_barfp.png" [style.width.%]="character.getBarPercent('fp')">
            </div>
        </div>
        <div class="status-guard">
            <ul>
                <li>
                    <h4>Damage: </h4>
                    <input class="stat-input" [(ngModel)]="damageValue" placeholder="10" autocomplete="off" maxlength="3">
                </li>
                <li>
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile058.png">
                    <h5>Physical</h5>
                    <h5>{{getDamage('PHYSICAL')}} Dmg</h5>
                </li>
                <li>
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile059.png">
                    <h5>Magic</h5>
                    <h5>{{getDamage('MAGIC')}} Dmg</h5>
                </li>
                <li>
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile060.png">
                    <h5>Fire</h5>
                    <h5>{{getDamage('FIRE')}} Dmg</h5>
                </li>
                <li>
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile061.png">
                    <h5>Lightning</h5>
                    <h5>{{getDamage('LIGHTNING')}} Dmg</h5>
                </li>
                <li>
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile062.png">
                    <h5>Dark</h5>
                    <h5>{{getDamage('DARK')}} Dmg</h5>
                </li>
            </ul>
            <ul>
                <li class="status-condition" (click)="onConditionChange('BLEED')">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile077.png">
                    <h5>Bleed</h5>
                    <h5>{{character.bleed.current}} / {{character.getTotal('bleed')}}</h5>
                </li>
                <li class="status-condition" (click)="onConditionChange('POISON')">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile075.png">
                    <h5>Poison</h5>
                    <h5>{{character.poison.current}} / {{character.getTotal('poison')}}</h5>
                </li>
                <li class="status-condition" (click)="onConditionChange('TOXIC')">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile076.png">
                    <h5>Toxic</h5>
                    <h5>{{character.toxic.current}} / {{character.getTotal('toxic')}}</h5>
                </li>
                <li class="status-condition" (click)="onConditionChange('FROSTBITE')">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile079.png">
                    <h5>Frostbite</h5>
                    <h5>{{character.frostbite.current}} / {{character.getTotal('frostbite')}}</h5>
                </li>
                <li class="status-condition" (click)="onConditionChange('CURSE')">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile078.png">
                    <h5>Curse</h5>
                    <h5>{{character.curse.current}} / {{character.getTotal('curse')}}</h5>
                </li>
            </ul>
        </div>
        <!-- <p class="center-item-description">{{currentItem.description}}</p> -->
    </div>
    <!-- EDIT ITEM -->
    <div *ngIf="currentItem && currentItem.id >= 0 && currentItem.itemType != 'STAT' && selectedPage==2" class="">
        <h3>Edit: {{currentItem.name}}</h3>
        <div class="center-item-mini">
            <img src="{{currentItem.icon}}">
        </div>
    </div>

    <div *ngIf="character && currentItem && currentItem.id < 0 && currentItem.itemType == 'STAT'" class="stat-inputs">
        <h3>{{currentItem.name}}</h3>
        <div>
            <label for="statInput">{{currentItem.name}}: </label>
                <input *ngIf="currentItem.id == -1" id="statInput" class="stat-input" [(ngModel)]="character.level" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -2" id="statInput" class="stat-input" [(ngModel)]="character.souls" placeholder="1" autocomplete="off" maxlength="5">
                <input *ngIf="currentItem.id == -3" id="statInput" class="stat-input" [(ngModel)]="character.fate" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -4" id="statInput" class="stat-input" [(ngModel)]="character.hollowing" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -5" id="statInput" class="stat-input" [(ngModel)]="character.player" placeholder="1" autocomplete="off" maxlength="26">
                <input *ngIf="currentItem.id == -6" id="statInput" class="stat-input" [(ngModel)]="character.name" placeholder="1" autocomplete="off" maxlength="26">
                <input *ngIf="currentItem.id == -7" id="statInput" class="stat-input" [(ngModel)]="character.gender" placeholder="1" autocomplete="off" maxlength="26">
                <input *ngIf="currentItem.id == -8" id="statInput" class="stat-input" [(ngModel)]="character.starterClass" placeholder="1" autocomplete="off" maxlength="26">
                <input *ngIf="currentItem.id == -9" id="statInput" class="stat-input" [(ngModel)]="character.race" placeholder="1" autocomplete="off" maxlength="26">
                <input *ngIf="currentItem.id == -10" id="statInput" class="stat-input" [(ngModel)]="character.knowledgeMonsters.value" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -11" id="statInput" class="stat-input" [(ngModel)]="character.knowledgeMagic.value" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -12" id="statInput" class="stat-input" [(ngModel)]="character.knowledgeHistory.value" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -13" id="statInput" class="stat-input" [(ngModel)]="character.knowledgeCosmic.value" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -14" id="statInput" class="stat-input" [(ngModel)]="character.vitality.value" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -15" id="statInput" class="stat-input" [(ngModel)]="character.endurance.value" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -16" id="statInput" class="stat-input" [(ngModel)]="character.strength.value" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -17" id="statInput" class="stat-input" [(ngModel)]="character.dexterity.value" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -18" id="statInput" class="stat-input" [(ngModel)]="character.attunement.value" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -19" id="statInput" class="stat-input" [(ngModel)]="character.intelligence.value" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -20" id="statInput" class="stat-input" [(ngModel)]="character.faith.value" placeholder="1" autocomplete="off" maxlength="2">
 
                <input *ngIf="currentItem.id == -21" id="statInput" class="stat-input" [(ngModel)]="character.athletics.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -22" id="statInput" class="stat-input" [(ngModel)]="character.acrobatics.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -23" id="statInput" class="stat-input" [(ngModel)]="character.perception.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -24" id="statInput" class="stat-input" [(ngModel)]="character.fireKeeping.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -25" id="statInput" class="stat-input" [(ngModel)]="character.sanity.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -26" id="statInput" class="stat-input" [(ngModel)]="character.stealth.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -27" id="statInput" class="stat-input" [(ngModel)]="character.precision.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -28" id="statInput" class="stat-input" [(ngModel)]="character.diplomacy.modifier" placeholder="1" autocomplete="off" maxlength="2">
 
                <input *ngIf="currentItem.id == -29" id="statInput" class="stat-input" [(ngModel)]="character.hp.value" placeholder="1" autocomplete="off" maxlength="3">
                <input *ngIf="currentItem.id == -30" id="statInput" class="stat-input" [(ngModel)]="character.ap.value" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -31" id="statInput" class="stat-input" [(ngModel)]="character.fp.value" placeholder="1" autocomplete="off" maxlength="2">
 
                <input *ngIf="currentItem.id == -32" id="statInput" class="stat-input" [(ngModel)]="character.flaskLevel" placeholder="1" autocomplete="off" maxlength="1">
                <input *ngIf="currentItem.id == -33" id="statInput" class="stat-input" [(ngModel)]="character.dodge" placeholder="1" autocomplete="off" maxlength="26">
                <input *ngIf="currentItem.id == -34" id="statInput" class="stat-input" [(ngModel)]="character.spellSlots.value" placeholder="1" autocomplete="off" maxlength="2">
 
                <input *ngIf="currentItem.id == -35" id="statInput" class="stat-input" [(ngModel)]="character.armorPhysical" placeholder="1" autocomplete="off" maxlength="1">
                <input *ngIf="currentItem.id == -36" id="statInput" class="stat-input" [(ngModel)]="character.armorMagic" placeholder="1" autocomplete="off" maxlength="1">
                <input *ngIf="currentItem.id == -37" id="statInput" class="stat-input" [(ngModel)]="character.armorFire" placeholder="1" autocomplete="off" maxlength="1">
                <input *ngIf="currentItem.id == -38" id="statInput" class="stat-input" [(ngModel)]="character.armorLightning" placeholder="1" autocomplete="off" maxlength="1">
                <input *ngIf="currentItem.id == -39" id="statInput" class="stat-input" [(ngModel)]="character.armorDark" placeholder="1" autocomplete="off" maxlength="1">
 
                <input *ngIf="currentItem.id == -40" id="statInput" class="stat-input" [(ngModel)]="character.bleed.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -41" id="statInput" class="stat-input" [(ngModel)]="character.poison.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -42" id="statInput" class="stat-input" [(ngModel)]="character.toxic.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -43" id="statInput" class="stat-input" [(ngModel)]="character.frostbite.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -44" id="statInput" class="stat-input" [(ngModel)]="character.curse.modifier" placeholder="1" autocomplete="off" maxlength="2">
 
                <input *ngIf="currentItem.id == -45" id="statInput" class="stat-input" [(ngModel)]="character.profShield" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -46" id="statInput" class="stat-input" [(ngModel)]="character.profSpear" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -47" id="statInput" class="stat-input" [(ngModel)]="character.profDagger" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -48" id="statInput" class="stat-input" [(ngModel)]="character.profHammer" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -49" id="statInput" class="stat-input" [(ngModel)]="character.profSword" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -50" id="statInput" class="stat-input" [(ngModel)]="character.profGreatSword" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -51" id="statInput" class="stat-input" [(ngModel)]="character.profReaper" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -52" id="statInput" class="stat-input" [(ngModel)]="character.profAxe" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -53" id="statInput" class="stat-input" [(ngModel)]="character.profFist" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -54" id="statInput" class="stat-input" [(ngModel)]="character.profBow" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -55" id="statInput" class="stat-input" [(ngModel)]="character.profHalberd" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -56" id="statInput" class="stat-input" [(ngModel)]="character.profSorcery" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -57" id="statInput" class="stat-input" [(ngModel)]="character.profMiracles" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -58" id="statInput" class="stat-input" [(ngModel)]="character.profPyromancy" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -59" id="statInput" class="stat-input" [(ngModel)]="character.profHexes" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -60" id="statInput" class="stat-input" [(ngModel)]="character.profDual" paceholder="1" autocomplete="off" maxlength="2">
            </div>
            <div *ngIf="currentItem.id <= -10 && currentItem.id >= -13 || currentItem.id <= -14 && currentItem.id >= -20 || currentItem.id <= -29 && currentItem.id >= -31 || currentItem.id == -34">
                <label for="modifierInput">Bonus: </label>
                <input *ngIf="currentItem.id == -10" id="modifierInput" class="stat-input" [(ngModel)]="character.knowledgeMonsters.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -11" id="modifierInput" class="stat-input" [(ngModel)]="character.knowledgeMagic.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -12" id="modifierInput" class="stat-input" [(ngModel)]="character.knowledgeHistory.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -13" id="modifierInput" class="stat-input" [(ngModel)]="character.knowledgeCosmic.modifier" placeholder="1" autocomplete="off" maxlength="2">

                <input *ngIf="currentItem.id == -14" id="modifierInput" class="stat-input" [(ngModel)]="character.vitality.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -15" id="modifierInput" class="stat-input" [(ngModel)]="character.endurance.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -16" id="modifierInput" class="stat-input" [(ngModel)]="character.strength.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -17" id="modifierInput" class="stat-input" [(ngModel)]="character.dexterity.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -18" id="modifierInput" class="stat-input" [(ngModel)]="character.attunement.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -19" id="modifierInput" class="stat-input" [(ngModel)]="character.intelligence.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -20" id="modifierInput" class="stat-input" [(ngModel)]="character.faith.modifier" placeholder="1" autocomplete="off" maxlength="2">
 
                <input *ngIf="currentItem.id == -29" id="modifierInput" class="stat-input" [(ngModel)]="character.hp.modifier" placeholder="1" autocomplete="off" maxlength="3">
                <input *ngIf="currentItem.id == -30" id="modifierInput" class="stat-input" [(ngModel)]="character.ap.modifier" placeholder="1" autocomplete="off" maxlength="2">
                <input *ngIf="currentItem.id == -31" id="modifierInput" class="stat-input" [(ngModel)]="character.fp.modifier" placeholder="1" autocomplete="off" maxlength="2">

                <input *ngIf="currentItem.id == -34" id="modifierInput" class="stat-input" [(ngModel)]="character.spellSlots.modifier" placeholder="1" autocomplete="off" maxlength="2">

            </div>
        <p class="center-item-description">{{currentItem.description}}</p>
    </div>
</div>