.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-image: url("/assets/images/menu/MENU_Base_backing.png");
    background-size: 100% 720px;
  }
  .container > div {
    flex: 1 1 400px;
    height: 700px;
  }