.right-pane {
    position: relative;
    height: 100%;
    width: auto;
    background-image: url("/assets/images/menu/MENU_DetailStatus_Base.png");
    background-size: 100% 700px;
}
.page-title {
    position: relative;
}
.title-icon {
    height: 60px;
    display: inline-block;
    margin: 10px 0 0 10px;
}
h2 {
    display: inline-block;
    position: absolute;
    margin: 30px 0px 0px 0px;
    width: 70%;
    padding: 0 0 0 20px;
    background-image: url("/assets/images/menu/MENU_Base_hr2.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 0% 100%;
}
.container-right {
    width: 95%;
}
.container-right ul {
    list-style-type: none;
    padding: 0 10px 0 10px;
}
.container-right li {
    position: relative;
    background-image: url(/assets/images/menu/MENU_Base_hr2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    cursor: pointer;
    user-select: none;
}
.container-right li:hover {
    background-color: rgb(148, 75, 12, .1);
}
.selected-stat {
    width: 103%;
    height: 103%;
    position: absolute;
    left: -6px;
    top: -2px;
    opacity: 35%;
}
.stat-icon {
    width: 26px;
}
.container-right h5 {
    display: inline-block;
    margin: 0;
}
.container-right h5:last-of-type {
    float: right;
}
.hp-text {
    color: #d9adad;
    font-family: Soul_Font, Arial, Helvetica, sans-serif;
}
.fp-text {
    color: #adc0d9;
    font-family: Soul_Font, Arial, Helvetica, sans-serif;
}
.container-right-nav {
    position: absolute;
    bottom: 0;
    width: 95%;
}
.page-left {
    float: left;
    margin: 0;
    padding: 20px 20px 20px 40px;
    color: #AB966F;
    cursor: pointer;
    user-select: none;
    background-image: url(/assets/images/menu/MENU_ItemParts_pageLeft.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 15% 50%;
}
.page-right {
    float: right;
    margin: 0;
    padding: 20px 40px 20px 20px;
    color: #AB966F;
    cursor: pointer;
    user-select: none;
    background-image: url(/assets/images/menu/MENU_ItemParts_pageRight.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 80% 50%;
}
.page-left:hover, .page-right:hover {
    transform: scale(1.25);
}