<div class="right-pane">
    <div class="page-title">
        <img class="title-icon" src="{{pageTitle[selectedPage].icon}}">
        <h2>{{pageTitle[selectedPage].title}}</h2>
    </div>
    <div class="container-right" *ngIf="character">
        <!-- DETAILS  PAGE -->
        <div *ngIf="selectedPage===0">
            <ul>
                <li (click)="onSelectItem(0)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-1">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile000.png">
                    <h5>Level</h5>
                    <h5>{{character.level}}</h5>
                </li>
                <li (click)="onSelectItem(1)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-2">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile001.png">
                    <h5>Souls</h5>
                    <h5>{{character.souls}} / {{ character.getSoulsNeeded()}}</h5>
                </li>
            </ul>
            <ul>
                <li (click)="onSelectItem(2)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-3">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile002.png">
                    <h5>Fate</h5>
                    <h5>{{character.fate}}</h5>
                </li>
                <li (click)="onSelectItem(3)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-4">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile003.png">
                    <h5>Hollowing</h5>
                    <h5>{{character.hollowing}}</h5>
                </li>
            </ul>
            <ul>
                <li (click)="onSelectItem(4)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-5">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile017.png">
                    <h5>Player</h5>
                    <h5>{{character.player}}</h5>
                </li>
                <li (click)="onSelectItem(5)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-6">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile047.png">
                    <h5>Name</h5>
                    <h5>{{character.name}}</h5>
                </li>
                <li (click)="onSelectItem(6)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-7">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile039.png">
                    <h5>Gender</h5>
                    <h5>{{character.gender}}</h5>
                </li>
                <li (click)="onSelectItem(7)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-8">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile072.png">
                    <h5>Starting Class</h5>
                    <h5>{{character.starterClass}}</h5>
                </li>
                <li (click)="onSelectItem(8)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-9">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile044.png">
                    <h5>Race</h5>
                    <h5>{{character.race}}</h5>
                </li>

            </ul>
            <ul>
                <li (click)="onSelectItem(9)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-10">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile049.png">
                    <h5>Knowledge Monsters</h5>
                    <h5>{{character.getTotal('knowledgeMonsters')}}</h5>
                </li>
                <li (click)="onSelectItem(10)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-11">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile074.png">
                    <h5>Knowledge Magic</h5>
                    <h5>{{character.getTotal('knowledgeMagic')}}</h5>
                </li>
                <li (click)="onSelectItem(11)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-12">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile048.png">
                    <h5>Knowledge World & History</h5>
                    <h5>{{character.getTotal('knowledgeHistory')}}</h5>
                </li>
                <li (click)="onSelectItem(12)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-13">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile038.png">
                    <h5>Knowledge Cosmic Influence</h5>
                    <h5>{{character.getTotal('knowledgeCosmic')}}</h5>
                </li>
            </ul>
        </div>
        <!-- ATTRIBUTES PAGE -->
        <div *ngIf="selectedPage===1">
            <ul>
                <li (click)="onSelectItem(13)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-14">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile007.png">
                    <h5>Vitality</h5>
                    <h5>{{character.getTotal('vitality') + " (" + character.getAttributeModifier('vitality') + ")"}}</h5>
                </li>
                <li (click)="onSelectItem(14)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-15">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile005.png">
                    <h5>Endurance</h5>
                    <h5>{{character.getTotal('endurance') + " (" + character.getAttributeModifier('endurance') + ")"}}</h5>
                </li>
                <li (click)="onSelectItem(15)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-16">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile009.png">
                    <h5>Strength</h5>
                    <h5>{{character.getTotal('strength') + " (" + character.getAttributeModifier('strength') + ")"}}</h5>
                </li>
                <li (click)="onSelectItem(16)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-17">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile010.png">
                    <h5>Dexterity</h5>
                    <h5>{{character.getTotal('dexterity') + " (" + character.getAttributeModifier('dexterity') + ")"}}</h5>
                </li>
                <li (click)="onSelectItem(17)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-18">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile006.png">
                    <h5>Attunement</h5>
                    <h5>{{character.getTotal('attunement') + " (" + character.getAttributeModifier('attunement') + ")"}}</h5>
                </li>
                <li (click)="onSelectItem(18)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-19">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile011.png">
                    <h5>Intelligence</h5>
                    <h5>{{character.getTotal('intelligence') + " (" + character.getAttributeModifier('intelligence') + ")"}}</h5>
                </li>
                <li (click)="onSelectItem(19)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-20">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile012.png">
                    <h5>Faith</h5>
                    <h5>{{character.getTotal('faith') + " (" + character.getAttributeModifier('faith') + ")"}}</h5>
                </li>
            </ul>
            <ul>
                <li (click)="onSelectItem(20)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-21">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile004.png">
                    <h5>Athletics</h5>
                    <h5>{{character.getTotal('athletics')}}</h5>
                </li>
                <li (click)="onSelectItem(21)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-22">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile005.png">
                    <h5>Acrobatics</h5>
                    <h5>{{character.getTotal('acrobatics')}}</h5>
                </li>
                <li (click)="onSelectItem(22)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-23">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile008.png">
                    <h5>Perception</h5>
                    <h5>{{character.getTotal('perception')}}</h5>
                </li>
                <li (click)="onSelectItem(23)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-24">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile000.png">
                    <h5>Fire Keeping</h5>
                    <h5>{{character.getTotal('fireKeeping')}}</h5>
                </li>
                <li (click)="onSelectItem(24)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-25">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile047.png">
                    <h5>Sanity</h5>
                    <h5>{{character.getTotal('sanity')}}</h5>
                </li>
                <li (click)="onSelectItem(25)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-26">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile050.png">
                    <h5>Stealth</h5>
                    <h5>{{character.getTotal('stealth')}}</h5>
                </li>
                <li (click)="onSelectItem(26)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-27">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile057.png">
                    <h5>Precision</h5>
                    <h5>{{character.getTotal('precision')}}</h5>
                </li>
                <li (click)="onSelectItem(27)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-28">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile040.png">
                    <h5>Diplomacy</h5>
                    <h5>{{character.getTotal('diplomacy')}}</h5>
                </li>
            </ul>
        </div>
        <!-- STATUS PAGE -->
        <div *ngIf="selectedPage===2">
            <ul>
                <li (click)="onSelectItem(28)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-29">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile013.png">
                    <h5>HP</h5>
                    <h5>{{character.getTotal('hp')}}</h5>
                </li>
                <li (click)="onSelectItem(29)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-30">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile015.png">
                    <h5>AP</h5>
                    <h5>{{character.getTotal('ap')}}</h5>
                </li>
                <li (click)="onSelectItem(30)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-31">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile014.png">
                    <h5>FP</h5>
                    <h5>{{character.getTotal('fp')}}</h5>
                </li>
            </ul>
            <ul>
                <li (click)="onSelectItem(31)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-32">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile074.png">
                    <h5>Estus Level</h5>
                    <h5>+{{character.flaskLevel}} (<span class="hp-text">{{'+' + character.getEstusHp()}}</span> | <span class="fp-text">{{'+' + character.getEstusFp()}}</span>)
                    </h5>
                </li>
                <li (click)="onSelectItem(32)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-33">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile043.png">
                    <h5>Dodge</h5>
                    <h5>{{character.dodge}}</h5>
                </li>
                <li (click)="onSelectItem(33)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-34">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile018.png">
                    <h5>Attunement Slots</h5>
                    <h5>{{character.getTotal('spellSlots')}}</h5>
                </li>
            </ul>
            <ul>
                <li (click)="onSelectItem(34)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-35">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile058.png">
                    <h5>Physical</h5>
                    <h5>{{character.getArmorDisplay(character.armorPhysical)}}</h5>
                </li>
                <li (click)="onSelectItem(35)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-36">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile059.png">
                    <h5>Magic</h5>
                    <h5>{{character.getArmorDisplay(character.armorMagic)}}</h5>
                </li>
                <li (click)="onSelectItem(36)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-37">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile060.png">
                    <h5>Fire</h5>
                    <h5>{{character.getArmorDisplay(character.armorFire)}}</h5>
                </li>
                <li (click)="onSelectItem(37)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-38">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile061.png">
                    <h5>Lightning</h5>
                    <h5>{{character.getArmorDisplay(character.armorLightning)}}</h5>
                </li>
                <li (click)="onSelectItem(38)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-39">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile062.png">
                    <h5>Dark</h5>
                    <h5>{{character.getArmorDisplay(character.armorDark)}}</h5>
                </li>
            </ul>
            <ul>
                <li (click)="onSelectItem(39)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-40">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile077.png">
                    <h5>Bleed</h5>
                    <h5>{{character.getTotal('bleed')}}</h5>
                </li>
                <li (click)="onSelectItem(40)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-41">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile075.png">
                    <h5>Poison</h5>
                    <h5>{{character.getTotal('poison')}}</h5>
                </li>
                <li (click)="onSelectItem(41)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-42">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile076.png">
                    <h5>Toxic</h5>
                    <h5>{{character.getTotal('toxic')}}</h5>
                </li>
                <li (click)="onSelectItem(42)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-43">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile079.png">
                    <h5>Frostbite</h5>
                    <h5>{{character.getTotal('frostbite')}}</h5>
                </li>
                <li (click)="onSelectItem(43)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-44">
                    <img class="stat-icon" src="/assets/images/icons/mini-icons/tile078.png">
                    <h5>Curse</h5>
                    <h5>{{character.getTotal('curse')}}</h5>
                </li>
            </ul>
        </div>
        <!-- WEAPON PROFS PAGE -->
        <div *ngIf="selectedPage===3">
            <ul>
                <li (click)="onSelectItem(44)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-45"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile023.png">
                    <h5>Shield</h5>
                    <h5>{{character.profShield}}</h5>
                </li>
                <li (click)="onSelectItem(45)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-46"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile020.png">
                    <h5>Spear</h5>
                    <h5>{{character.profSpear}}</h5>
                </li>
                <li (click)="onSelectItem(46)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-47"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile023.png">
                    <h5>Dagger</h5>
                    <h5>{{character.profDagger}}</h5>
                </li>
                <li (click)="onSelectItem(47)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-48"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile041.png">
                    <h5>Hammer</h5>
                    <h5>{{character.profHammer}}</h5>
                </li>
                <li (click)="onSelectItem(48)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-49"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile023.png">
                    <h5>Sword</h5>
                    <h5>{{character.profSword}}</h5>
                </li>
                <li (click)="onSelectItem(49)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-50"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile050.png">
                    <h5>Great Sword</h5>
                    <h5>{{character.profGreatSword}}</h5>
                </li>
                <li (click)="onSelectItem(50)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-51"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile020.png">
                    <h5>Reaper</h5>
                    <h5>{{character.profReaper}}</h5>
                </li>
                <li (click)="onSelectItem(51)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-52"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile041.png">
                    <h5>Axe</h5>
                    <h5>{{character.profAxe}}</h5>
                </li>
                <li (click)="onSelectItem(52)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-53"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile056.png">
                    <h5>Fist</h5>
                    <h5>{{character.profFist}}</h5>
                </li>
                <li (click)="onSelectItem(53)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-54"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile057.png">
                    <h5>Bow</h5>
                    <h5>{{character.profBow}}</h5>
                </li>
                <li (click)="onSelectItem(54)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-55"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile020.png">
                    <h5>Halberd</h5>
                    <h5>{{character.profHalberd}}</h5>
                </li>
                <li (click)="onSelectItem(55)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-56"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile051.png">
                    <h5>Sorcery</h5>
                    <h5>{{character.profSorcery}}</h5>
                </li>
                <li (click)="onSelectItem(56)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-57"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile053.png">
                    <h5>Miracles</h5>
                    <h5>{{character.profMiracles}}</h5>
                </li>
                <li (click)="onSelectItem(57)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-58"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile052.png">
                    <h5>Pyromancy</h5>
                    <h5>{{character.profPyromancy}}</h5>
                </li>
                <li (click)="onSelectItem(58)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-59"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile054.png">
                    <h5>Hexes</h5>
                    <h5>{{character.profHexes}}</h5>
                </li>
                <li (click)="onSelectItem(59)">
                    <img class="selected-stat" src="/assets/images/menu/MENU_ItemParts_selectionStat.png"
                        *ngIf="selectedItem && selectedItem.id===-60"><img class="stat-icon"
                        src="/assets/images/icons/mini-icons/tile042.png">
                    <h5>Dual Wielding</h5>
                    <h5>{{character.profDual}}</h5>
                </li>
            </ul>
        </div>
        <!-- NOTES PAGE -->
        <div *ngIf="selectedPage===4">

        </div>
    </div>
    <div class="container-right-nav">
        <h4 class="page-left" (click)="onPageTurn(-1)">Previous</h4>
        <h4 class="page-right" (click)="onPageTurn(1)">Next</h4>
    </div>
</div>